
.card {   
    background: whitesmoke;
    display: inline-block;    
    text-align: center;     
    width: 3em;     
    font-size: 3em;     
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);     
    margin: 1em;     
    user-select: none;
    border-radius: 15px;
    color: black;
    } 

.activeCard{
    color: aquamarine;
    background-color: rgb(14, 10, 5);
  }

  .head{
    background-color: #D291BC;
    border-radius: 15px;
    text-align: center;
    font-style: italic;
    color: azure;
    
  }
  .maingame{
  border-radius: 15px;
  background-color: #E0BBE4 ;
  display: inline-block;  
  }  

.newgame{
  color: aliceblue;
  background-color: black;
  border-radius: 15px;

}



