.card {   
    display: inline-block;    
    text-align: center;     
    width: 3em;     
    font-size: 3em;     
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);     
    margin: 1em;     
    user-select: none;
    font-family: "Patrick Hand", sans-serif; 
    } 

<<<<<<< HEAD

  .activeCard{
    color: aquamarine;
    background-color: rgb(14, 10, 5);
  }

  
=======
.activeCard{
    color: aquamarine;
    background-color: rgb(14, 10, 5);
  }
@media screen {
  .header{
    margin :0;
  }
  
}
>>>>>>> 9e08288664b8b91b6566fe30c05f93aa67671dde
